.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  /* background-image: url('../../../images/avatar.jpg'); */ /**./images/avatar.jpg*/
  transition: 0.2s;
  position: relative;
}

.profile__image::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: 0.2s;
}

.profile__image::after {
  content: "";
  background-image: url("../../../images/updateAvatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.profile__image:hover::before, .profile__image:hover::after {
  opacity: 0.8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: 0.2s;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
